<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/script/filtro.js" defer></script>
    <title>Document</title>
</head>
<body>
    <p>Logado!</p>
    <section>
        <h1>Filtros</h1>
            <form id="filtros">
            </form>
    </section>
    <section >
        <h1>Estantes</h1>
        <div id="estantes">
            
        </div>
    </section>
</body>
</html>