<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Estoque</title>
  <script src="../static/script/loremIpsum.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div class="header">
    <div class="user-info">
      <span>Bem vindo, (nome)</span>
    </div>
    <div class="cart">
      <a href="#">🛒</a>
      <button id="logoff">aaaaaa</button>
    </div>
    <h1>DEU CERTO PORRA!!!!!!!!1</h1>
  </div>
</body>
</html>