{% extends "header_head.html" %}

{% block titulo %}Histórico de Pedidos{% endblock %}

{% block estilos %}
    <!-- link css -->
    <link rel="stylesheet" href="/static/styles/pagina_historico_pedidos.css">
{% endblock %}

{% block conteudo %}
    <!-- container geral / principal -->
    <main class="container--main">

        <div class="container--div-titulo">

            <h1 class="h1-titulo">Histórico de Pedidos</h1>

        </div>

        <div class="mb-3 form-check">
            <a href=""><button type="submit" class="btn btn-primary">Limpar Histórico</button></a>
        </div>

        <section class="container--card">

            <div class="card" style="width: 50rem;">

                <div class="card-header">

                    <div class="card--header-esquerdo">

                        <p><strong>Pedido n°0001</strong></p>

                    </div>

                    <div class="card--header-direito">

                        <span class="material-symbols-outlined">download</span>
                        <p><strong>Visualizar Nota Fiscal</strong></p>

                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">3x Camisa branca M</li>
                    <li class="list-group-item">10x Sapato preto 36</li>
                    <li class="list-group-item">1x Calça Jeans 42</li>
                    <li class="list-group-item"><strong>Total:</strong> R$ 120,80</li>
                    <li class="list-group-item"><strong>19/09/2025 às 15h06</strong></li>
                </ul>
            </div>

            <div class="card" style="width: 50rem;">

                <div class="card-header">

                    <div class="card--header-esquerdo">

                        <p><strong>Pedido n°0002</strong></p>

                    </div>

                    <div class="card--header-direito">

                        <span class="material-symbols-outlined">download</span>
                        <p><strong>Baixar nota fiscal</strong></p>

                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">3x Camisa branca M</li>
                    <li class="list-group-item">10x Sapato preto 36</li>
                    <li class="list-group-item">1x Calça Jeans 42</li>
                    <li class="list-group-item"><strong>Total:</strong> R$ 120,80</li>
                    <li class="list-group-item card-header"><p><strong>19/09/2025 às 15h06</strong></p></li>
                </ul>
            </div>

        </section>

    </main>

{% endblock %}