{% extends "header_head.html" %}

{% block titulo %}Cadastrar Categoria{% endblock %}

{% block estilos %}
    <!-- link css -->
    <link rel="stylesheet" href="/static/styles/pagina_categoria.css">
{% endblock %}

{% block conteudo %}

    <main class="container--main">

        <h1>Cadastrar Categoria</h1>

        <div class="container--divisao1">

            <!-- form cadastrar catergoria -->
            <!-- action/method: backend do add categoria -->
            <form action="/post/cadastrar/categoria" method="post" class="container--form container--add-categoria">
                <h2>Adicionar Categoria</h2>

                <!-- nome da categoria -->
                <div class="mb-3 tooltip-container">

                    <span class="aviso-cadastro-categoria">1º passo</span>
                    <label for="exampleInputPassword1" class="form-label">Nome</label>
                    <!-- name: backend do adicionar nome da categoria -->
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome da categoria:"></input>
                </div>

                <div class="mb-3 form-check">
                    <a href="/cadastrar/categoria"><button type="submit" class="btn btn-primary btn1">Adicionar</button></a>
                </div>
            </form>

            <form action="/post/cadastrar/tipo" method="post" class="container--form container--add-tipo">
                <h2>Adicionar Tipo</h2>

                <!-- nome do tipo -->
                <div class="mb-3 tooltip-container">
                    <span class="aviso-cadastro-tipo">2º passo</span>
                    <label for="exampleInputPassword1" class="form-label">Nome</label>
                    <!-- name: backend do adicionar nome do tipo -->
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome do tipo:"></input>
                </div>

                    <!-- selecionar categoria -->
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Categoria</label>
                    <!-- name: backend do adicionar nome da categoria -->
                <select name="cod_categoria" type="text" class="form-control" required>
                    {% if categoria %}
                        <option value="" disabled selected>Selecione a Categoria:</option>
                        {% for categorias in categoria %}
                        <option value="{{categorias.cod_categoria}}">{{categorias.nome}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="" disabled selected>Nenhuma categoria cadastrada</option>
                    {% endif %}
                </select>

                </div>

                <div class="mb-3 form-check">
                    <a href="/cadastrar/categoria"><button type="submit" class="btn btn-primary">Adicionar</button></a>
                </div>
            </form>

            <form action="/post/cadastrar/caracteristica" method="post" class="container--form container--add-caracteristica" id="caracteristicaForm">
                <h2>Adicionar Característica</h2>

                <!-- nome da caracteristica -->
                <div class="mb-3 tooltip-container">
                    <span class="aviso-cadastro-caracteristica">3º passo</span>
                    <label class="form-label">Nome</label>
                    <!-- name: backend do adicionar nome da característica -->
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome da característica:"></input>
                </div>

                <!-- selecionar o tipo -->
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Tipo</label>
                    <!-- name: backend selecionar nome do tipo -->
                    <select name="cod_tipo" type="text" class="form-control" required>
                        {% if tipo_categoria %} 
                        <option value="" disabled selected>Selecione o Tipo:</option>
                            {% for tipo_item in tipo_categoria %}
                            <option value="{{tipo_item.cod_tipo}}">{{tipo_item.nome_tipo}} - Categoria: {{tipo_item.nome_categoria}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" disabled selected>Nenhum tipo cadastrado</option>
                        {% endif %}
                    </select>
            
                </div>

                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>

        <!-- divisão 2: exclusao de categorias, tipos e características -->
         <h2 class="titulo-exclusao">Exclusão</h2>
         <div class="container--divisao2">
            
            <!-- categorias -->
            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Categorias</h2>
                {% for categorias in categoria %}
                <div class="container--exclusao-itens">
                    <label for="">{{categorias.nome}}</label>
                    <a href="/post/remover/categoria/{{categorias.cod_categoria}}"><span class="material-symbols-outlined">delete</span></a>
                </div>
                {% endfor %}
            </div>

            <!-- tipos -->
            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Tipos</h2>
                {% for tipos in tipo_categoria %}

                <div class="container--exclusao-itens">
                    <div>
                       <label for="">{{tipos.nome_tipo}} - Categoria: {{tipos.nome_categoria}}</label>
                    </div>
                    <a href="/post/remover/tipo/{{tipos.cod_tipo}}"><span class="material-symbols-outlined">delete</span></a>
                </div>

                {% endfor %}
            </div>

            <!-- caracteristicas -->
            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Características</h2>
                {% for caracteristicas in caracteristica %}
                <div class="container--exclusao-itens">   
                    <label for="">{{caracteristicas.nome_caracteristica}}</label>
                    <a href="/post/remover/caracteristica/{{caracteristicas.cod_caracteristica}}"><span class="material-symbols-outlined">delete</span></a>
                </div>
                {% endfor %}
                
            </div>

         </div>

    </main>


    <script src="/static/script/sweet_alert_caracteristica.js"></script>

{% endblock %}