{% extends "header_head.html" %}

{% block titulo %}Página Inicial{% endblock %}

{% block estilos %}
    <!-- link do css da página -->
    <link rel="stylesheet" href="/static/styles/pagina_principal.css">
{% endblock %}

{% block conteudo %}

    <main class="container--main">
        
        <!-- Add o icon "historico" no botão -->
        <section class="section-btn--historico">
            <button type="button" id="botaoToggleHistorico">
                <span class="material-symbols-outlined">
                    history
                </span>
            </button>
        </section>

        <!--  Opcoes que estão dentro do botão  -->
        <section>
            <div class="section-btn--opcoesDentroDoBtn" id="botaoToggleHistoricoOpcoes">
                <h1 class="section-div--tituloOpcoesBtn">Histórico</h1>
                <a class="section-div--opcoesDentroDoBtn" href="/historico/alteracoes">Alterações</a>
                <a class="section-div--opcoesDentroDoBtn" href="historico/pedido/compra">Pedido de compra</a>
            </div>
        </section>

        <!-- Add o icon "mais" no botão -->
        <section class="section-btn--cadastrarProdCatEst">
            <button type="button" id="botaoToggle">
                <span class="material-symbols-outlined">
                    add_2
                </span>
            </button>
        </section>

        <!--  Opcoes que estão dentro do botão  -->
        <section>
            <div class="section-btn--opcoesDentroDoBtn" id="opcoesBotao">
                <h1 class="section-div--tituloOpcoesBtn">Adicionar:</h1>
                <a class="section-div--opcoesDentroDoBtn" href="/cadastrar/categoria">Categoria</a>
                <a class="section-div--opcoesDentroDoBtn" href="/cadastrar/estante">Estante</a>
                <a class="section-div--opcoesDentroDoBtn" href="/cadastrar/produto">Produto</a>
            </div>
        </section>

            <!-- Card lateral esquerdo, aqui vai as categorias, estantes e produtos cadastrados -->
            <section class="card-filtrosCategoria">
                <div class="card-categoriasFiltros">

                    <div class="card-body">
                        <h5 class="card-title">Filtro:</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Categoria:</h6>

                    <section class="card-section--filtroEstante">
                        <form id="filtros" class="card-form--filtroEstante">
                        </form>
                        
                    </section>

                </div>
            </section>

                <div class="container--estantesCriadas" id="estantes">
                </div>

    </main>

<!-- JS -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
    // Botão e Div do primeiro toggle
    const botaoToggle = document.getElementById('botaoToggle');
    const opcoesDiv = document.getElementById('opcoesBotao');

    // botão e Div do segundo toggle
    const botaoToggleHistorico = document.getElementById('botaoToggleHistorico');
    const opcoesDivHistorico = document.getElementById('botaoToggleHistoricoOpcoes');

    // carrega a pagina e os toggles estão fechados
    opcoesDiv.style.display = 'none';
    opcoesDivHistorico.style.display = 'none';

    // visibilidade da div
    function toggleVisibility(div) {
        if (div.style.display === 'none' || div.style.display === '') {
            div.style.display = 'block';
        } else {
            div.style.display = 'none';
        }
    }

    if (botaoToggle && opcoesDiv) {
        botaoToggle.addEventListener('click', function(event) {
            event.stopPropagation();
            toggleVisibility(opcoesDiv);

            // fecha o outro menu se tive aberto
            if (opcoesDivHistorico.style.display === 'block') {
                opcoesDivHistorico.style.display = 'none';
            }
        });
    }

    if (botaoToggleHistorico && opcoesDivHistorico) {
        botaoToggleHistorico.addEventListener('click', function(event) {
            event.stopPropagation();
            toggleVisibility(opcoesDivHistorico);
            
            if (opcoesDiv.style.display === 'block') {
                opcoesDiv.style.display = 'none';
            }
        });
    }

    document.addEventListener('click', function(event) {
        if (!opcoesDiv.contains(event.target) && opcoesDiv.style.display === 'block') {
            opcoesDiv.style.display = 'none';
        }
        if (!opcoesDivHistorico.contains(event.target) && opcoesDivHistorico.style.display === 'block') {
            opcoesDivHistorico.style.display = 'none';
        }
    });
});

</script>

<!-- JS dos filtros -->
<script src="/static/script/filtro.js"></script>

{% endblock %}