{% extends "header_head.html" %}

{% block titulo %}Adicionar Categoria, Tipo e Característica(s){% endblock %}

{% block estilos %}
    <link rel="stylesheet" href="/static/styles/pagina_categoria.css">
    <!-- link imagem -->
    <link rel="icon" href="/static/img/logo-topo.png">
{% endblock %}

{% block conteudo %}

    <main class="container--main">

        <div class="container--div-titulo">

            <a href="/principal"><span class="material-symbols-outlined icone-voltar">arrow_back<span class="aviso">Voltar</span>
                </span></a>

            <h1 class="h1-titulo">Adicionar Categoria, Tipo e Característica(s)</h1>

        </div>

        <div class="container--divisao1">

            <form action="/post/cadastrar/categoria" method="post" class="container--form container--add-categoria">
                <h2>Adicionar Categoria</h2>

                <div class="mb-3 tooltip-container">

                    <span class="aviso-cadastro-categoria">1º passo</span>
                    <label for="exampleInputPassword1" class="form-label">Nome</label>
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome da categoria:"></input>
                </div>

                <div class="mb-3 form-check">
                    <a href="/cadastrar/categoria"><button type="submit" class="btn btn-primary btn1">Adicionar</button></a>
                </div>
            </form>

            <form action="/post/cadastrar/tipo" method="post" class="container--form container--add-tipo">
                <h2>Adicionar Tipo</h2>

                <div class="mb-3 tooltip-container">
                    <span class="aviso-cadastro-tipo">2º passo</span>
                    <label for="exampleInputPassword1" class="form-label">Nome</label>
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome do tipo:"></input>
                </div>

                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Categoria</label>
                    <select name="cod_categoria" type="text" class="form-control" required>
                    {% if categoria %}
                        <option value="" disabled selected>Selecione a categoria:</option>
                        {% for categorias in categoria %}
                        <option value="{{categorias.cod_categoria}}">{{categorias.nome}}</option>
                        {% endfor %}
                    {% else %}
                        <option value="" disabled selected>Nenhuma categoria cadastrada</option>
                    {% endif %}
                </select>

                </div>

                <div class="mb-3 form-check">
                    <a href="/cadastrar/categoria"><button type="submit" class="btn btn-primary">Adicionar</button></a>
                </div>
            </form>

            <form action="/post/cadastrar/caracteristica" method="post" class="container--form container--add-caracteristica" id="caracteristicaForm">
                <h2>Adicionar Característica</h2>

                <div class="mb-3 tooltip-container">
                    <span class="aviso-cadastro-caracteristica">3º passo</span>
                    <label class="form-label">Nome</label>
                    <input name="nome" type="text" class="form-control" required placeholder="Insira o nome da característica:"></input>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Tipo</label>
                    <select name="cod_tipo" type="text" class="form-control" required>
                        {% if tipo_categoria %} 
                        <option value="" disabled selected>Selecione o tipo:</option>
                            {% for tipo_item in tipo_categoria %}
                            <option value="{{tipo_item.cod_tipo}}">{{tipo_item.nome_tipo}} - Categoria: {{tipo_item.nome_categoria}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="" disabled selected>Nenhum tipo cadastrado</option>
                        {% endif %}
                    </select>
                
                </div>

                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>

        <h2 class="titulo-exclusao">Exclusão</h2>
          <div class="container--divisao2">
            
            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Categorias</h2>
                {% for categorias in categoria %}
                <div class="container--exclusao-itens">
                    <label for="">{{categorias.nome}}</label>
                    <a href="/post/remover/categoria/{{categorias.cod_categoria}}" class="link--excluir-categoria"><span class="material-symbols-outlined">delete</span></a>
                </div>
                {% endfor %}
            </div>

            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Tipos</h2>
                {% for tipos in tipo_categoria %}

                <div class="container--exclusao-itens">
                    <div>
                       <label for="">{{tipos.nome_tipo}} - Categoria: {{tipos.nome_categoria}}</label>
                    </div>
                    <a href="/post/remover/tipo/{{tipos.cod_tipo}}" class="link--excluir-tipo"><span class="material-symbols-outlined">delete</span></a>
                </div>

                {% endfor %}
            </div>

            <div class="container--exclusao">
                <h2 class="form--titulo-exclusao">Excluir Características</h2>
                {% for caracteristicas in caracteristica %}
                <div class="container--exclusao-itens">  
                    <div> 
                        <label for="">{{caracteristicas.nome_caracteristica}} - Tipo: {{caracteristicas.nome_tipo}}</label>
                    </div>
                    <a href="/post/remover/caracteristica/{{caracteristicas.cod_caracteristica}}" class="link--excluir-caracteristica"><span class="material-symbols-outlined">delete</span></a>
                </div>
                {% endfor %}
                
            </div>

          </div>

    </main>


    <script src="/static/script/sweet_alert_caracteristica.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}