{% extends "header_head.html" %}

{% block titulo %}Pedido de Compra{% endblock %}

{% block estilos %}
    <!-- link css -->
    <link rel="stylesheet" href="/static/styles/pagina_pedido_compra.css">
    <!-- link imagem -->
    <link rel="icon" href="/static/img/logo-topo.png">
{% endblock %}

{% block conteudo %}
    <!-- container geral / principal -->
    <main class="container--main">

        <div class="container--div-titulo">

            <a href="/principal"><span class="material-symbols-outlined icone-voltar">arrow_back<span class="aviso">Voltar</span>
                </span></a>

            <h1 class="h1-titulo">Pedido de Compra</h1>

        </div>

        <section class="container--card">

            {% if itens_pedido %}
            {% for item in itens_pedido %}
            <div class="card mb-0" style="width: 800px;">
                
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="data:image/jpeg;base64,{{ item["imagem"] }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 container-card-body-produto">
                        <div class="card-body-produto">

                                <h3 class="card-title">{{item.nome}}</h3>
                                <p class="card-text">Valor Unitário: <span>{{item.valor}}</span></p>
                                <p class="card-text">Subtotal: <span>{{item.valor * item.quantidade}}</span></p>
                                <p class="card-text">Quantidade: {{item.quantidade}}</p>

                            <div class="card-body-produto-right">
                                <a href="/post/remover/produto/pedido/{{item.cod_produto}}" class="link--excluir-produto-pedido"><span class="material-symbols-outlined container--exclusao-itens">delete</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}

            <div class="card mb-0" style="width: 800px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body" style="min-height: 200px;">

                            <div class="card-body-left">
                                 <h3 class="card-title">Nenhum item adicionado ao pedido.</h3>
                            </div>

                           <div class="card-body-right">
                                 <p class="card-text">Para adicionar produtos, entre em uma estante, clique em um produto e, em seguida, selecione a quantidade desejada. Depois, clique em "Inserir no pedido de compra".</p>
                           </div>
                            
                        </div>
                    </div>
            </div>
            {% endif %}

        </div>

        </section>

        <div class="container--main-bottom">

            <div class="mb-3 form-check">
                <a href="/post/finalizar/pedido"><button type="submit" class="btn btn-primary">Finalizar Pedido</button></a>
            </div>

            <div class="div-info">
                <p>Quantidade: {{quantidade}}</p>
                {% if subtotal %}
                <p>Subtotal: {{subtotal}}</p>
                {% else %}
                <p>Subtotal:</p>
                {% endif %}
            </div>

        </div>

    </main>

    <!-- Link para importar as máscaras para VALOR -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/script/pedido_compra.js"></script>
{% endblock %}