{% extends "header_head.html" %}

{% block titulo %}Editar Estante{% endblock %}

{% block estilos %}
<!-- link css -->
<link rel="stylesheet" href="/static/styles/pagina_nota_fiscal.css">

{% endblock %}

{% block conteudo %}

<main class="container--main">
    <h1 class="titulo_nota--fiscal">Nota Fiscal</h1>

    <div class="container--nota">

        <!-- Seção Inicial -->
        <section>
            <div class="nota nota--titulo">
                <span>ENVIAMOS DE SENAI OS PRODUTOS CONTANTES DA NOTA FISCAL INDICADA AO LADO</span>
                <p></p>
            </div>

            <div class="nota nota--data-recebimento">
                <span>Data Recebimento</span>
                <p></p>
            </div>

            <div class="nota nota--recebedor">
                <span>Identificação e assinatura no recebedor</span>
                <p></p>
            </div>

            <div class="nota nota--serie">
                <span>NFE</span>
                <span>N</span>
                <p></p>
                <span>Série</span>
                <p></p>
            </div>

            <div class="nota nota--card-empresa">
                <img src="/static/img/" alt="logo-InStock">
                <span>InStock</span>
            </div>

            <div class="nota nota--card-danfe">
                <span>DANFE</span>
                <span>Documento Auxiliar da Nota Fiscal Eletrônica</span>
                <span>Num</span>
                <p></p>
                <span>Série</span>
                <p></p>
                <span>Folha 1 de 1</span>
            </div>

            <div class="nota nota--codBarras">
                <img src="" alt="Código de barras">
            </div>

            <div class="nota nota--natureza-operacao">
                <span>Natureza da Operação</span>
                <p></p>
            </div>

            <div class="nota nota--inscricao-estadual">
                <span>Inscrição Estadual</span>
                <p></p>
            </div>

            <div class="nota nota--inscricao-estadual2">
                <span>Insc. Estadual do Subst. Trib.</span>
                <p></p>
            </div>

            <div class="nota nota--cnpj">
                <span>CNPJ</span>
                <p></p>
            </div>

            <div class="nota nota--chave">
                <span>Chave de acesso da NF-e</span>
                <p></p>
            </div>
        </section>


        <!-- Seção Destinatário e Remetente -->
        <span class="titulo">Destinatário e Remetente</span>
        <span>Destinatário/Remetente</span>

        <section>
            <div class="nota nota--nome-razao">
                <span>Nome/Razão Social</span>
                <p></p>
            </div>

            <div class="nota nota--cnpj-cpf1">
                <span>CNPJ/CPF</span>
                <p></p>
            </div>

            <div class="nota nota--data-emissao">
                <span>Data Emissão</span>
                <p></p>
            </div>

            <div class="nota nota--endereco">
                <span>Endereço</span>
                <p></p>
            </div>

            <div class="nota nota--bairro-distrito">
                <span>Bairro/Distrito</span>
                <p></p>
            </div>

            <div class="nota nota--cep">
                <span>CEP</span>
                <p></p>
            </div>

            <div class="nota nota--data-saida">
                <span>Data Saída</span>
                <p></p>
            </div>

            <div class="nota nota--municipio">
                <span>Município</span>
                <p></p>
            </div>

            <div class="nota nota--fone-fax">
                <span>Fone/Fax</span>
                <p></p>
            </div>

            <div class="nota nota--uf1">
                <span>UF</span>
                <p></p>
            </div>

            <div class="nota nota--inscricao-estadual">
                <span>Inscrição Estadual</span>
                <p></p>
            </div>

            <div class="nota nota--hora-saida">
                <span>Hora Saída</span>
                <p></p>
            </div>

            <!-- Seção Fatura -->
            <span class="titulo">Fatura</span>
            <span>Fatura</span>

            <div class="nota nota--card-fatura1">
                <span>N Doc</span>
                <span>Vencimento</span>
                <span>Valor</span>
            </div>

            <div class="nota nota--card-fatura2">
                <span>N Doc</span>
                <span>Vencimento</span>
                <span>Valor</span>
            </div>
        </section>



        <!-- Seção Cálculo e Imposto -->
        <span class="titulo">Cálculo e imposto</span>
        <span>Cálculo/Imposto</span>

        <section>

            <div class="nota nota--base-icms">
                <span>Base Cálculo ICMS</span>
                <p></p>
            </div>

            <div class="nota nota--valor-icms">
                <span>Valor do ICMS</span>
                <p></p>
            </div>

            <div class="nota nota--base-icsm-substituicao">
                <span>Base Cálculo ICMS Substituição</span>
                <p></p>
            </div>

            <div class="nota nota--valor-icsm-substituicao">
                <span>Valor do ICMS Substituição</span>
                <p></p>
            </div>

            <div class="nota nota--valor-total-produtos">
                <span>Valor total dos produtos</span>
                <p></p>
            </div>

            <div class="nota nota--valor-frete">
                <span>Valor Frete</span>
                <p></p>
            </div>

            <div class="nota nota--valor-seguro">
                <span>Valor do Seguro</span>
                <p></p>
            </div>

            <div class="nota nota--desconto">
                <span>Desconto</span>
                <p></p>
            </div>

            <div class="nota nota--despesas">
                <span>Outras Despesas</span>
                <p></p>
            </div>

            <div class="nota nota--valor-ipi">
                <span>Valor do IPI</span>
                <p></p>
            </div>

            <div class="nota nota--valor-total-nota">
                <span>Valor Total da NF</span>
                <p></p>
            </div>

        </section>



        <!-- Seção Transportador e Volumes Transportados -->
        <span class="titulo">Transportador e Volumes Transportados</span>
        <section>

            <div class="nota nota--razao-social">
                <span>Razão Social</span>
                <p></p>
            </div>

            <div class="nota nota--frete-conta">
                <span>Frete Conta</span>
                <p></p>
            </div>

            <div class="nota nota--cod-antt">
                <span>Código Antt</span>
                <p></p>
            </div>

            <div class="nota nota--placa-veiculo">
                <span>Placa Veículo</span>
                <p></p>
            </div>

            <div class="nota nota--uf2">
                <span>UF</span>
                <p></p>
            </div>

            <div class="nota nota--cnpj-cpf2">
                <span>CNPJ/CPF</span>
                <p></p>
            </div>

            <div class="nota nota--endereco">
                <span>Endereço</span>
                <p></p>
            </div>

            <div class="nota nota--municipio">
                <span>Município</span>
                <p></p>
            </div>

            <div class="nota nota--uf3">
                <span>UF</span>
                <p></p>
            </div>

            <div class="nota nota--inscricao-estadual">
                <span>Inscrição Estadual</span>
                <p></p>
            </div>

            <div class="nota nota--quantidade">
                <span>Quantidade</span>
                <p></p>
            </div>

            <div class="nota nota--especie">
                <span>Espécie</span>
                <p></p>
            </div>

            <div class="nota nota--marca">
                <span>Marca</span>
                <p></p>
            </div>

            <div class="nota nota--numero-volumes">
                <span>Número (Volumes)</span>
                <p></p>
            </div>

            <div class="nota nota--peso-bruto">
                <span>Peso Bruto</span>
                <p></p>
            </div>

            <div class="nota nota--peso-liquido">
                <span>Peso Líquido</span>
                <p></p>
            </div>

        </section>

        <!-- Seção Dados do Produto ou Serviço -->
        <span class="titulo">Dados do Produto ou Serviço</span>  
         <section>

            <div class="nota--cod-produto">
                <span>Cod. Prod.</span>
            </div>
            <div></div>
            <div class="nota--descricao-prod-servico">
                <span>Descrição do Produto ou Serviço</span>
            </div>
            <div></div>
            <div class="nota--ncm">
                <span>NCM</span>
            </div>
            <div></div>
            <div class="nota--quantidade">
                <span>Quantidade</span>
            </div>
            <div></div>
            <div class="nota--valor-dados">
                <span>Valor</span>
            </div>
            <div></div>
            <div class="nota--subtotal-dados">
                <span>Subtotal</span>
            </div>
            <div></div>
            <div class="nota--base-icms-dados">
                <span>Base ICMS</span>
            </div>

         </section>


         <!-- Seção Cálculo do ISSQN -->
        <span class="titulo">Cálculo do ISSQN</span>  
         <section>

            <div class="nota--inscricao-municipal">
                <span>Inscrição Municipal</span>
                <p></p>
            </div>

            <div class="nota--valor-total-servicos">
                <span>Valor Total dos Serviços</span>
                <p></p>
            </div>

            <div class="nota--base-issqn">
                <span>Base Cálculo do ISSQN </span>
                <p></p>
            </div>

            <div class="nota--valor-issqn">
                <span>Valor do ISSQN </span>
                <p></p>
            </div>

         </section>

    </div>
    
    <a href=""><button>Download</button></a>
    
</main>

{% endblock %}