<!DOCTYPE html>
<html lang="Pt-br">

<head>
    <link rel="stylesheet" href="../static/styles/tela-cadastro.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
</head>

<body>

<!--------------------------------------------------------------------------------------------------------------------------->

    <!-- Header -->
     <header class="container--header">
        <img src="/static/img/InStock_logo_transparente.png" class="img--InStock-logo" alt="InStock Logo" style="width: 300px;">
     </header>

<!--------------------------------------------------------------------------------------------------------------------------->

<main>
    <!-- action/method: backend do login -->
    <form action="/post/cadastro" method="post">

        <h1>Faça Login</h1>
        <div class="mb-3">
            <label for="exampleInputCPF" class="form-label">Insira seu CPF:</label>
            <!-- name: backend do login -->
            <input name="login-cpf" type="number" maxlength="11" class="form-control" id="exampleInputCPF" aria-describedby="CPFHelp">
            <div id="CPFHelp" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Insira seu CPF:</label>
            <!-- name: backend do login -->
            <input name="login-name" type="number" maxlength="11" class="form-control" id="exampleInputName" aria-describedby="NameHelp">
            <div id="NameHelp" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Insira sua senha</label>
            <!-- name: backend do login -->
            <input name="login-senha" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3 form-check">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="">esqueci minha senha</a>
        <label for="">Ainda não tem uma conta?</label>
        <a href="">Cadastre-se</a>

    </form>
</main>

    <!-- Formulário de cadastro -->
    <!-- <main>
        <div class="container--div-informacoesUsuario">

                <form action="/post/login" method="POST" class="form--cadastro-usuario">
                    <h1>Faça seu Cadastro</h1>

                    <label for="cadastro-nome">Insira seu nome:</label>
                    <input type="text" name="cadastro-nome" id="cadastro-nome"  maxlength="50" required>

                    <label for="cadastro-cpf">Insira seu CPF:</label>
                    <input type="text" name="cadastro-cpf" id="cadastro-cpf" placeholder="Ex: 000.000.000-00" maxlength="14" required>

                    <label for="cadastro-senha">Insira sua senha:</label>
                    <input type="password" name="cadastro-senha" id="cadastro-senha" maxlength="20" minlength="8" required>

                    <button class="form--botao-cadastra" id="botao-cadastra">
                        Cadastrar
                    </button>
                </form>

            <p>Já possui conta?</p> 
            <a href="/pagina/login">Faça login!</a>

        </div>
    </main>
    

    <footer class="container--footer">
        <!--  -->
    </footer>
</body> -->

<!---------------------------------------------------------------------------------------------------------------------------->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<!-- Código de formatação do cpf -->
<script>
      $('#cadastro-cpf').mask('000.000.000-00', {reverse: true});
</script>

</html>