/* Header para todas as telas */
.container--header {
    width: 100%;
    background-color: var(--grey-dark);
    padding: 10px 20px;
    height: 100px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    font-family: var(--font-outfit);
    font-size: var(--font-size-16);
    font-weight: bold;
    
}

/* Logo para todas as telas */
.img--InStock-logo {
    width: 150px;
}

.navbar-nav { 
    display: flex; 
    gap: 40px; 
    align-items: center; 
    margin-bottom: 0; 
}

.navbar{ 	
    display: flex;
    gap: 20px; 
}

.navbar-nav .nav-link.active, .nav-link{
    color: var(--white) !important;
    padding: 0px !important;
}

.material-symbols-outlined{
    font-weight: normal !important;
}