/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
.container--header {
    width: 100%;
    background-color: var(--grey-dark);
    padding: 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* cor dos links e do span dentro do header para branco */
.nav-link{
    color: aliceblue !important;
}

.container--footer{
    width: 100%;
    background-color: var(--grey-dark);
    padding: 10px 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Logo */
.img--InStock-logo {
    width: 230px;
}


/* Form */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container--form {
    background-color: var(--grey-light);
    padding: 30px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    /* width: 750px; */
    height: 350px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

/* Titulo do form */
form h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
}

/* label (textos em cima dos inputs) */
.form-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

/* Botão de Login */
button[type="submit"] {
    background-color: var(--grey-medium);
    color: var(--grey-dark);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.5s ;
}

button[type="submit"]:hover {
    background-color: var(--orange-color);
    color: var(--grey-light);
}

/* Link do botão */
.container--a--label-possuiConta label{
    font-size: 12px;
    margin-top: 10px;
}

.form-check{
    padding: 0 !important;
}
