/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Form */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container--form {
    background-color: var(--grey-light);
    padding: 30px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 750px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

/* Titulo do form */
form h1 {
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 25px;
    font-weight: bold;
}

/* label (textos em cima dos inputs) */
.form-label {
    font-size: var(--font-size-20);
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

/* Botão de Login */
button[type="submit"] {
    background-color: var(--grey-medium);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    color: var(--grey-dark);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.5s ;
}

button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--grey-light);
}

.form-check{

    padding: 0 !important;

}

.form-control{

    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
}
