/* container do body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: 600;
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* container do titulo */
.h1-titulo{
    font-family: var(--font-cinzel);
    font-size: var(--font-size-30);
}

/* container do card todo */
.container--card{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* container do card */
.card-body{
    background-color: var(--grey-light);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    align-items: flex-end;
}

/* imagem */
.img-fluid{
    width: 100% !important;
    height: 100% !important;
}

.col-md-4{
    height: 185px !important;
    width: 212.6px !important;
}

/* titulo - nome do produto */
.card-title{
    font-weight: bold;
    margin: 0px 0px 8px 0px !important;
    text-shadow: 2px 2px 4px rgba(255, 114, 27, 0.6);
}

/* outras informações do produto */
.card-text{
    margin: 1px 0px 1px 0px !important;
}

/* icone de apagar */
.material-symbols-outlined{
    font-weight: bold !important;
    cursor: pointer;
}

/* container de baixo - botão e informações do pedido */
.container--main-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 640px;
}

/* form do botão */
.form-check{
    margin: 0 !important;
    padding: 0 !important;
}

/* div das informações finais do pedido */
.div-info p{
    margin: 0px;
}

/* Botão de limpar */
button[type="submit"] {
    background-color: var(--grey-light);
    color: var(--grey-dark);
    font-size: var(--font-size-20) !important;
    font-family: var(--font-outfit);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: background 0.5s ;
}

/* hover do botão */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}