/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* cor dos links e do span dentro do header para branco */
.nav-link{
    color: aliceblue !important;
}

/* Form */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.container--form{
    background-color: var(--grey-light);
    padding: 60px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 450px;
    height: 350px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    
    align-items: center;
    justify-content: center;
}

/* Titulo do form */
form h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
}

/* label (textos em cima dos inputs) */
.form-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

/* Botão de Login */
button[type="submit"] {
    background-color: var(--grey-medium);
    color: var(--grey-dark);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.5s ;
}

button[type="submit"]:hover {
    background-color: var(--orange-color);
    color: var(--grey-light);
}

/* Link do botão */
.container--a--label-possuiConta label{
    font-size: 12px;
    margin-top: 10px;
}

.form-check{
    padding: 0 !important;
}
