/* container do body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

/* container do titulo */
.h1-titulo{
    text-align: center;
    font-size: var(--font-size-30);
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

/* container do card todo */
.container--card{
    display: flex;
    flex-direction: column;
    gap: 50px;
   
}

/* container do header do card */
.card-header{

    display: flex;
    justify-content: space-between;
}

/* todos os p do header */
.card-header p{
    margin: 0px !important;
}

/* apenas o que está ao lado direito do header */
.card--header-direito{
    display: flex;
    align-items: center;
}

/* icone do header */
.material-symbols-outlined{
    font-weight: bold !important;
    cursor: pointer;
}

/* fundo do header, que consequentemente leva a mesma formatação para o "footer" */
.card-header{
    background-color: var(--orange-light-color) !important;
}

.card{
     border: 2px solid var(--orange-light-color) !important; 
}

.card-title{
    font-family: var(--font-outfit);
    font-size: var(--font-size-30);
    font-weight: bold;
    text-align: center !important;
}

/* button de limpar */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: background 0.5s;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

.form-check{
    padding: 0px !important;
}

