/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.nome--estante{
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 18px;
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
    margin: 20px;
}

.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
}

/* estante selecionada, onde os produtos irão aparecer */
.container--estante{
    width: 1200px;
    height: 500px;
    display: grid;
    /* Define 10 colunas de larguras iguais */
    grid-template-columns: 1fr;
    /* Define 3 linhas */
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--orange-color);
    padding: 10px;
    border-radius: 8px;
}

/* card de produto */
.card--produto {
    /* ATENÇÃO: AS PROPRIEDADES grid-row e grid-column FORAM REMOVIDAS DAQUI! 
    Elas são injetadas dinamicamente via Jinja no HTML. */
    background-color: var(--grey-light); /* Fundo branco */
    border: 1px solid var(--grey-medium);
    border-radius: 5px;
    padding: 5px;
    /* Para organizar o conteúdo do card */
    display: flex;
    flex-direction: column; /* Organiza os itens (foto, nome, endereço) verticalmente */
    align-items: center;
    text-align: center;
    color: var(--black);
    grid-row: 1;
    height: 150px !important;
    font-family: var(--font-outfit);
}

.nome--produto{
    font-size: var(--font-size-12)  !important;
    /* 'ch' mede a largura do caractere '0' para 7 caracteres */
    max-width: 12ch !important;
    /* garante que o texto fique em uma unica linha */
    white-space: nowrap !important;
    /* esconde qualquer texto que ultrapasse do maximo permitido */
    overflow: hidden;
    /* adiciona "..." */
    text-overflow: ellipsis;
    text-align: left !important;
    margin-top: 2px;
    font-weight: bold;
}

.link--nomes{
    text-decoration: none;
    color: var(--black);
}

.endereco--produto{
    margin: 0 !important;
    font-size: 10px;
    font-size: var(--font-size-12);

}

.imagem--produto{
    width: 90px; /* Ocupa a largura total do card */
    height: 80px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.grid-row {
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    height: 150px;
    display: grid;
    /* Define 10 colunas de larguras iguais */
    grid-template-columns: repeat(10,1fr);
    /* Define 1 linha */
    grid-template-rows: 1fr; 
}
/* Todos ocupam da 1ª coluna até a última (-1) */
.row-1 {
    grid-column: 1 / -1; 
    grid-row: 1; 
    background-color: var(--orange-light-color);
}
.row-2 {
    grid-column: 1 / -1; 
    grid-row: 2; 
    background-color: var(--orange-light-color);
}
.row-3 {
    grid-column: 1 / -1; 
    grid-row: 3; 
    background-color: var(--orange-light-color);
}

.container--botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

/* Botão de Excluir estante */
.btn{
    color: var(--white) !important;
    background-color: var(--orange-dark-color) !important;
    font-family: var(--font-outfit) !important;
    font-size: var(--font-size-20) !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 12px !important;
    padding: 10px !important;
    width: 100% !important;
    cursor: pointer !important;
    transition: background 0.5s !important;
}

.btn:hover {
    background-color: var(--orange-color) !important;
    color: var(--white) !important;
}

.btn:active {
    background-color: var(--orange-color) !important;
}

.btn:hover{
    transform: translateY(-1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.aviso{
    visibility: hidden; /* Hidden by default */
    width: 80px;
    background-color: var(--orange-dark-color);
    color: var(--white);
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: bold;
    padding: 6px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */

    bottom: 118px;
    left: 600px;
}

.material-symbols-outlined:hover .aviso {
    visibility: visible;
}

.icone-voltar{
    color: var(--black) !important;
    margin-right: -6px;
    margin-top: 6px;
    font-size: 32px !important;
}
