/* body para todas as telas */
.container--body{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 100px;
}

.card{
    margin: 30px 0px 30px 0px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover{
    transform: translateY(1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.container--div-top{
    width: 100%;
    border-radius: 20px;
}

.card-body{
    padding-top: 0px !important;
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr); 
    justify-items: center;
}

.aviso{
    visibility: hidden; /* Hidden by default */
    width: 85px;
    background-color: var(--orange-dark-color);
    color: var(--white);
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: bold;
    padding: 10px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */

    top: 15px;
    left: -66px;
}

.material-symbols-outlined:hover .aviso {
    visibility: visible;
}

.icone-voltar{
    margin-left: 20px;
    margin-top: 20px;
    color: var(--white) !important;
    cursor: pointer;
    font-size: 35px !important;
}

/* container da descrição */
.container--div-descricao{
    border-radius: 15px;
    margin: 1% 5% 1% 5% !important;
    width: 90% !important;
    height: auto;
}

.descricao{
    background-color: var(--grey-light);
    border-radius: 20px;
    color: var(--black) !important;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 5px !important;
    padding: 15px;
}

.label-descricao{
    color: var(--white);
    font-weight: bold;
    margin-bottom: 10px;
}

.row{
    display: block !important;
}

/* parte de baixo do container de produto */
.container--bottom-card{
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-bottom: 10px;
}

/* icones */
.icone-editar{
    cursor: pointer;
    color: var(--white);
    line-height: 2!important;
    font-size: 35px !important;
}

.icone-delete{
    cursor: pointer;
    color: var(--white);
    line-height: 2!important;
    font-size: 35px !important;
}

.container--left-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* botao de quantidade */
.form-control{
    width: 120px !important;
    height: 50px !important;
    font-size: var(--font-size-20) !important;
    font-weight: bold !important;
}

/* Botão */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 5px;
    width: 45%;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: background 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:hover{
    transform: translateY(-1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

.img-produto{
    min-height: 100px; 
    min-width: 150px;       
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imagem */
.img-fluid{
    max-width: 380px !important;
    max-height: 380px !important;   
    display: block;
    border: 4px solid var(--orange-light-color); 
    border-radius: 4px;
}

.card-body .card-text{
    color: var(--white) !important;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: normal;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.card-body .card-text fieldset{
    height: auto !important;
    width: 100% !important;
    
}

.card-text.text-caracteristicas {
    display: flex;
    flex-direction: column;
}

.card-body fieldset {
    border: 3px solid var(--orange-dark-color);
    padding: 0px 15px 0 15px;
    border-radius: 10px;
    width: 95% !important;
}

