/* body para todas as telas */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container--card-fundo{   
    border-radius: 20px;
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    background-color: var(--grey-dark2); 
}

.section-div-img--fundoEstanteBronze{
    size: 50px;
}

.card{
    margin: 30px 0px 30px 0px;
    box-shadow: 0 6px 44px rgba(0, 0, 0, 0.6);
}

/* detalhes da gaveta */
.container--div-detalhe{
    border-radius: 15px;
    width: 80%;
    height: 85%;
    margin-left: 26px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    background-color: var(--grey-dark);
}

.container--div-top{
    width: 100%;
    border-radius: 20px;
}

.card-body{
    padding-top: 0px !important;
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr);
    justify-items: center;  
    align-items: stretch; /* força tudo a ter a mesma altura  */
    gap: 5px;
}

/* container da descrição */
.container--div-descricao{
    border-radius: 15px;
    text-align: center;
    padding: 6px 5px 6px 5px;
    margin: 1% 5% 1% 5% !important;
    width: 90% !important;
    height: auto;
}

.descricao{
    background-color: var(--orange-color);
    border-radius: 20px;
    color: var(--white) !important;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.row{
    display: block !important;
}

/* parte de baixo do container de produto */
.container--bottom-card{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

/* icones */
.material-symbols-outlined{
    cursor: pointer;
    color: var(--grey-light);
    line-height: 2!important;
}

/* tamanho dos icones */
.container--bottom-card .material-symbols-outlined {
    font-size: larger;
}
   
/* botao de quantidade */
.form-control{
    width: 120px !important;
    height: 50px !important;
    font-size: var(--font-size-20) !important;
    font-weight: bold !important;
}

/* Botão */
button[type="submit"] {
    background-color: var(--grey-light);
    color: var(--dark);
    font-size: var(--font-size-20) !important;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    width: 180px;
    height: 70px;
    cursor: pointer;
    padding: 6px;
    margin: 10px;
    transition: background 0.5s ;
    transition: transform 0.3s ease-out;
}

button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
    transform: scale(1.02);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

.img-produto{
    min-height: 100px; 
    min-width: 150px; 
    padding-top: 15px;       
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imagem */
.img-fluid{
    max-width: 380px !important;
    max-height: 380px !important;   
    display: block;
    border: 4px solid var(--orange-color); 
    border-radius: 4px;
}

.card-body .card-text{
    color: var(--white) !important;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: normal;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.card-body .card-text fieldset{

    height: auto !important;
}

.card-text.text-caracteristicas {
    display: flex;
    flex-direction: column;
}

.card-body fieldset {
    border: 1px solid var(--orange-color);
    padding: 0px 15px 0 15px;
    border-radius: 10px;
}
