/* container do body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: 400;
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* container do titulo */
.h1-titulo{
    text-align: center;
    font-size: var(--font-size-30);
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

.aviso{
    visibility: hidden; /* Hidden by default */
    width: 80px;
    background-color: var(--orange-dark-color);
    color: var(--white);
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: bold;
    padding: 4px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */

    top: -3px;
    right: 30px;
}

.material-symbols-outlined:hover .aviso {
    visibility: visible;
}

.icone-voltar{
    margin-left: 0px;
    margin-top: 6px;
    color: var(--black) !important;
}

.container--div-titulo{
    display: flex;
}

/* container do card todo */
.container--card{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* container do header do card */
.card-header{
    display: flex;
    justify-content: space-between;
}

.icone-nota-fiscal{
    position: relative;
    top: 6px;
    font-size: 26px !important;
    color: var(--black) !important;
    margin-right: 8px;
}

/* todos os p do header */
.card-header p{
    margin: 0px !important;
}

/* apenas o que está ao lado direito do header */
.card--header-direito{
    display: flex;
    align-items: center;
}

/* icone do header */
.material-symbols-outlined{
    font-weight: bold !important;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.material-symbols-outlined:hover{
    font-weight: bold !important;
    cursor: pointer;
    transform: translateY(-1px); 
}

/* fundo do header, que consequentemente leva a mesma formatação para o "footer" */
.card-header{
    background-color: var(--orange-light-color) !important;
}

.card{
     border: 2px solid var(--orange-light-color) !important; 
}

.card-title{
    font-family: var(--font-outfit);
    font-size: var(--font-size-30);
    font-weight: bold;
    text-align: center !important;
}

/* button de limpar */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin: 10px 0 10px 0;
    cursor: pointer;
    transition: background 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

button[type="submit"]:hover{
    transform: translateY(-1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.form-check{
    padding: 0px !important;
}