/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Form */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.container--form {
    background-color: var(--grey-light);
    padding: 30px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 750px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container--form:hover{
    transform: translateY(1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* Titulo do form */
.container--form h1{
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 18px;
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

.aviso{
    visibility: hidden; /* Hidden by default */
    width: 80px;
    background-color: var(--orange-dark-color);
    color: var(--white);
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-24);
    font-weight: bold;
    padding: 6px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */

    top: 24px;
    left: -45px;
}

.material-symbols-outlined:hover .aviso {
    visibility: visible;
}

.icone-voltar{
    color: var(--black) !important;
    margin: 0 !important;
}

/* label (textos em cima dos inputs) para todas as telas */
.form-label{
    font-size: var(--font-size-20);
    margin-bottom: 5px;
    font-family: var(--font-outfit);
    display: block;
}

/* dentro dos inputs, para colocar uma fonte, para todas as telas */
.form-control{
    font-family: var(--font-outfit) !important;
    font-size: var(--font-size-20);
}

/* botão de adicionar estante */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 50%;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

button[type="submit"]:hover{
    transform: translateY(-1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.form-check{
    padding: 0 !important;
    text-align: center;
}