/* body para todas as telas */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* container principal geral para todas as telas */
.container--main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 100px;
}

/* Forms para todas as telas */
.container--form {
    background-color: var(--grey-light);
    padding: 30px 40px;
    border-radius: 12px;
    width: 750px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

/* Titulo do form para todas as telas */
.container--form h1{
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 18px;
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

/* label (textos em cima dos inputs) para todas as telas */
.form-label{
    font-size: var(--font-size-20);
    margin-bottom: 5px;
    font-family: var(--font-outfit);
    display: block;
}

/* dentro dos inputs, para colocar uma fonte, para todas as telas */
.form-control{
    font-family: var(--font-outfit);
}

/* arredondamento das bordas dos inputs */
.mb-3 input{
    border-radius: 20px;
}

/* Botão de todas as telas */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 50%;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

/* alinhar o botão no meio */
.button-adicionar {
    text-align: center;
}

/* alinhamento do form para tirar a formatação do bootstrap, por isso o !important */
.form-check{
    padding: 0 !important;
}

/* ESPECIFICAÇÕES DA TELA DE CADASTRO */
/* se a pessoa já tiver uma conta, então vai pro link de logar */
.container--label--a-logar{
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-16);
}

/* Link de logar label */
.container--label--a-logar label{
    margin-top: 10px;
}

/* Link de logar a */
.container--label--a-logar a{
    text-decoration: underline;
    color: #EF782F;
    font-weight: bold;
}


/* ESPECIFICAÇÕES DE TELA DE LOGIN */
/* se a pessoa ainda não possurir conta, vai para a pagina de cadastro */
.container--a--label-possuiConta{
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-16);
}

/* link de cadastrar a */
.container--a--label-possuiConta a{
    text-decoration: underline;
    color: var(--orange-color);
    font-weight: bold;
}

/* link de cadastrar label */
.container--a--label-possuiConta label{
    margin-top: 10px;
}

/* link de cadastrar a hover */
.container--a--label-possuiConta a:hover {
    transform: scale(1.2);
    text-decoration: wavy;
}

/* esqueci senha */
.a--esqueci-senha{
    text-decoration: underline;
    color: var(--orange-color);
    font-weight: bold;
    font-size: var(--font-size-16);
    font-family: var(--font-outfit);
    cursor: pointer;
}

/* esqueci senha hover */
.a--esqueci-senha:hover{
    transform: scale(1.2);
    text-decoration: wavy;
}

/* input da senha para dar uma margem do texto de esquecer senha */
.input-senha{
    margin-bottom: 8px;
}

/* ESPECIFICAÇÕES DA TELA DE ADICIONAR PRODUTO */
/* subtitulo do form para todas as telas, onde caracteriza e organiza o cadastro */
.mb-3 .form-select{
    border-radius: 20px;
}

/* fieldset do formulario / divisao */
.container--form fieldset {
    border: 2px solid var(--orange-light-color);
    padding: 0px 15px 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* legend do formulario */
.container--form legend{
    font-size: var(--font-size-24);
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: var(--font-outfit);
    font-weight: bold; 
    text-align: center;
}

/* input de sku para deixar letras maiusculas */
.input-sku {
    text-transform: uppercase;
}

/* ESPECIFICAÇÕES DA TELA DE RECUPERAR SENHA */
.container--label--a-voltar{
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-16);
}

/* Link de logar label */
.container--label--a-voltar label{
    margin-top: 10px;
}

/* Link de logar a */
.container--label--a-voltar a{
    text-decoration: underline;
    color: #EF782F;
    font-weight: bold;
}


/* ESPECIFICAÇÕES DO CHECKBOX DE CARACTERISTICAS */
/* container das caracteristicas */
.checkbox-caracteristicas {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    background-color: var(--white);
    padding: 10px 30px; 
    border-radius: 5px; 
}

/* input das caracteristicas */
.checkbox-caracteristicas .form-check-input {
    border-color: var(--grey-medium) !important; 
    border-width: 2px !important;
    box-shadow: none !important; 
}

/* area do quadradinho */
.checkbox-caracteristicas .form-check-input:checked {
    background-color: var(--orange-color) !important;
}

.aviso-caracteristicaNaoCadastrada{
    margin-left: -16px !important;
}

.form-check-label{
    margin-left: 6px !important;  
}

.form-check-input{
    margin-left: -17px !important;  
}
