.container--form h2{
    text-align: center;
    font-size: var(--font-size-24);
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

/* label (textos em cima dos inputs) para todas as telas */
.form-label{
    font-size: var(--font-size-20);
    margin-bottom: 5px;
    font-family: var(--font-outfit);
    display: block;
}

.titulo-exclusao{
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 18px;
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

.form--titulo-exclusao{
    text-align: center;
    font-size: var(--font-size-24);
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

/* body */
.container--body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-outfit);
}

/* cor dos links e do span dentro do header para branco */
.nav-link{
    color: var(--white) !important;
}

.container--main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* os forms de cadastro */
/* categoria; tipo; característica */
.container--form{
    padding: 20px !important;
}

.container--divisao1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.container--divisao2{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.container--exclusao{
    background-color: var(--grey-light);
    padding: 60px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 450px;
    height: auto !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container--exclusao-itens{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    width: 100%;
    height: 40px;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 15px 0 15px;
    border-radius: 5px;
}

.container--exclusao-itens label{
    text-align: center;
    font-weight: bolder;
}

.container--exclusao-itens .material-symbols-outlined{
    color: var(--black) !important;
    line-height: 2 !important;
}

.material-symbols-outlined{
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.material-symbols-outlined:hover{
    transform: translateY(-2px); 

}

.container--form{
    background-color: var(--grey-light);
    padding: 60px 40px;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 450px;
    height: 350px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    
    align-items: center;
    justify-content: center;
}

.tooltip-container{
    position: relative;
}

/* aviso de mensagem no container de categoria */
.aviso-cadastro-categoria{
    visibility: hidden; 
    width: 180px;
    background-color: var(--orange-dark-color);
    color: #ffffff;
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; 

    bottom: 95px; 
    right: 380px;
}

.container--add-categoria:hover .aviso-cadastro-categoria {
    visibility: visible;
    opacity: 1;
}

/* aviso de mensagem no container de tipo */
.aviso-cadastro-tipo{
    visibility: hidden; 
    width: 100px;
    background-color: var(--orange-dark-color);
    color: #ffffff;
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; 

    bottom: 95px; 
    right: 380px;
}

.container--add-tipo:hover .aviso-cadastro-tipo {
    visibility: visible;
    opacity: 1;
}

/* aviso de mensagem no container de caracteristica */
.aviso-cadastro-caracteristica{
    visibility: hidden; 
    width: 100px;
    background-color: var(--orange-dark-color);
    color: #ffffff;
    text-align: center;
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    padding: 8px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; 

    bottom: 95px; 
    right: 410px;
}

.container--add-caracteristica:hover .aviso-cadastro-caracteristica {
    visibility: visible;
    opacity: 1;
}

.container--form{
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.container--form:hover{
    transform: translateY(-5px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* Titulo do form */
.container--main h1{
    text-align: center;
    font-size: var(--font-size-30);
    margin-bottom: 18px;
    font-family: var(--font-cinzel);
    color: var(--orange-dark-color);
}

/* dentro dos inputs, para colocar uma fonte, para todas as telas */
.form-control{
    font-family: var(--font-outfit) !important;
    font-size: var(--font-size-20);
}

/* botão de adicionar estante */
button[type="submit"] {
    color: var(--white);
    background-color: var(--orange-dark-color);
    font-family: var(--font-outfit);
    font-size: var(--font-size-20);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 50%;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

/* hover do botão para todas as telas */
button[type="submit"]:hover {
    background-color: var(--orange-color) !important;
    color: var(--white);
}

button[type="submit"]:active {
    background-color: var(--orange-color) !important;
}

button[type="submit"]:hover{
    transform: translateY(-1px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

.form-check{
    padding: 0 !important;
    text-align: center;
}

.btn1{
    position: relative;
    top: 91px !important;
}
