/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body */
body {
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
.container--header {
    width: 100%;
    background-color: #cfcfcf;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer{
      width: 100%;
    background-color: #cfcfcf;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Logo */
.img--InStock-logo {
    width: 120px;
}


/* Form */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

form {
    background-color: #f2f2f2;
    padding: 30px 40px;
    border-radius: 12px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 750px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

/* Titulo do form */
form h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
}

/* label (textos em cima dos inputs) */
.form-label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

/* Botão de cadastro */
button[type="submit"] {
    background-color: #cfcfcf;
    color: #313131;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.5s ;
}

button[type="submit"]:hover {
    background-color: #EF782F;
    color: #ececec;
}

/* Link do login */
form label {
    font-size: 12px;
    margin-top: 10px;
}

form a {
    font-size: 12px;
    text-decoration: underline;
    margin-left: 5px;
    color: #EF782F;
    font-weight: bold;
}

form a:hover {
    transform: scale(1.2);
    text-decoration: wavy;
}