/* Link de import das fontes do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Jersey+20&family=Outfit:wght@300&display=swap');

:root{

    /* cores */
    --orange-color: #EF782F;
    --orange-light-color: #ffb98e;
    --orange-dark-color: #c94d00;
    --grey-light: #DFDFDF;
    --grey-medium: #9C9C9C;
    --grey-dark: #3e3e3e;
    --grey-dark2: #6E6E6E;
    --black: #000000;
    --white: #FFFFFF;

    /* fontes */
    --font-outfit: "Outfit", sans-serif;
    --font-jersey: "Jersey 20", sans-serif;
    --font-cinzel: "Cinzel", serif;

    /* tamanho dos textos */
    --font-size-16: 16px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-30: 30px;
    --font-size-40: 40px;

}

